@{
    ViewData["Title"] = "Main Page";
}

<div class="text-center">
    <h1 class="display-4">Fortnite</h1>
    <h2>A chance to get some sick dubs</h2>
    <p>Fornite is a popular Battle Royale game with over 236 million players a month. I just happen to be one of those players and I think I'm 
        pretty good, I offer fortnite coaching at a highly competitve rate and can help you start getting victory royales. After just a few 
        coaching sessions you will be able to impress all of your friends and start dunking on kids.</p>
    <img src="~/fortnite.jpg" height="400"/> <br />
    <h3>What is Fortnite:</h3>
    <p>In Fortnite Battle Royale, players are dropped onto an island and must scavenge for weapons, resources, and items while eliminating 
        opponents. The game area gradually shrinks over time, forcing players into closer proximity and intensifying encounters. The goal 
        is to be the last player or team standing.</p> <br />

    <h3>Why you should hire me:</h3>
    <p>Below I have displayed my fortnite stats for this current season of Fortnite. As you can see by my stats below I have an 
        overall win rate of about 10% which is really good. I also have a K/D ratio of about 4.5. I am the perfect teacher for all levels 
        of players. For new players I will be able to teach you to navigate the game and understand the controls well. For veteren players that
        are coming back to the game I can help you understand the current map and the newly added item mechanics. Even for those daily players, 
        after an hour or two of my coaching help you will understand some of the best strats to maximize your winning in this current season of 
        fortnite. Disclaimer: I used to play classic forntine but now I only play no build. If you are interesting in a fortnite coach regarding 
        builds you will have to look elsewhere.</p>
    <img src="~/Fortnite_Stats.png" height="400" /><br />
    <h4>Go to my pricing page to see what rates I charge!</h4>
</div>
